<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Předpověď koroze</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', path='Spaniel_ikona.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Předpověď koroze</h1>
    <div class="navigation">
        <h2>Rozcestník</h2>
        <button class="nav-link" onclick="window.location.href='{{ url_for('index') }}'">Domů</button>
        <button class="nav-link" onclick="window.location.href='{{ url_for('meteo_page') }}'">Meteo data</button>
        <button class="nav-link" onclick="window.location.href='{{ url_for('prediction_page') }}'">Data predikce</button>
    </div>
        

</body>

</html>